.auth__form {
  margin-top: 40px;
  background: var(--primary-color);
  padding: 40px;
  border-radius: 5px;
}
.auth__form p {
  margin-top: 30px;
}
.auth__form p a {
  color: rgba(255, 255, 255, 0.735);
  margin-left: 5px;
}
.auth__form input[type="file"] {
  color: #fff;
}
