.header {
  width: 100%;
  height: 70px;
  line-height: 70px;
}
.nav__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo {
  display: flex;
  align-items: center;
  column-gap: 8px;
  padding-bottom: 15px;
}

.logo img {
  width: 35px;
  height: 35px;
  padding-bottom: 5px;
}
.logo h1 {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--primary-color);
}
.menu {
  display: flex;
  align-items: center;
  column-gap: 2.7rem;
}
.nav__item a {
  color: var(--primary-color);
  font-weight: 500;
  cursor: pointer;
}
.nav__icons {
  display: flex;
  align-items: center;
  column-gap: 1.2rem;
}

.nav__icons span i {
  font-size: 1.45rem;
  color: var(--primary-color);
  cursor: pointer;
}

.nav__icons .profile img {
  margin-bottom: 6px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  border-radius: 50px;
}
.profile {
  position: relative;
  z-index: 9;
}
.profile__actions {
  position: absolute;
  top: 100%;
  right: 0%;
  width: 150px;
  z-index: 12;

  padding: 15px;

  align-items: center;
  flex-direction: column;
  background: var(--card-bg-01);
  line-height: 30px;
  display: none;
}
.show__profileActions {
  display: block;
}

.mobile_menu {
  font-size: 1rem;
  color: var(--primary-color);
}
.logout__btn {
  cursor: pointer;
}
.sigupandlogin {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sigupandlogin a {
  font-size: 1rem;
  cursor: pointer;
}
.nav__item > .nav__active {
  font-weight: 700;
}

.cart__icon,
.fav__icon {
  position: relative;
}

.badge {
  position: absolute;
  background: var(--primary-color);
  color: #fff;
  font-weight: 600;
  font-size: 0.7rem;
  border-radius: 50px;
  content: "";
  top: 25%;
  right: -8%;
  z-index: 10;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sticky__header {
  width: 100%;
  height: 70px;
  line-height: 70px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 3px 3px 8px -3px;
  background: #fff;
}

@media only screen and (max-width: 768px) {
  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.53);
    display: none;
  }
  .menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background: #fff;
    z-index: 99999;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .active__menu {
    display: block;
  }
  .mobile_menu {
    display: block;
  }
  .logo img {
    width: 1rem;
  }

  .logo h1 {
    font-size: 1rem;
  }
  .fav__icon i,
  .cart__icon i {
    font-size: 1.2rem !important ;
  }
  .mobile_menu span i {
    font-size: 1.1rem !important;
  }
  .mobile__menu span i {
    display: flex;
    padding-bottom: 2px;
  }
  .nav__icons span img {
    width: 1.2rem;
    height: 1.2rem;
    padding-bottom: 2px;
  }
  .header {
    width: 100%;
    height: 60px;
    line-height: 60px;
  }
  .logo h1 {
    font-size: 0.97rem;
    padding-top: 2px;
  }
  .logo {
    padding-top: 4px;
  }
  .logo img {
    width: 1.7rem;
    height: 1.8rem;
    padding-right: 2px;
  }
  .nav__icons span img {
    margin-bottom: 6px;
  }
}
@media only screen and (max-width: 992px) {
  .nav__icons {
    gap: 25px;
    margin-bottom: 10px;
  }
  .nav__icons span img {
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 992px) {
  .mobile__menu {
    display: none;
  }
}
